@use "../utils" as u;

.cart {
    background-color: white;
    padding: 1.5rem;
    min-height: 18.69rem;
    margin-top: 1.7rem;
    border-radius: 0.75rem;
    text-align: center;

    &__title {
        color: u.$color-primary;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2rem;
        text-align: left;
    }

    .cart-list {
        &.has-items {
            margin-top: 0.4rem;
        }

        &__item {
            text-align: left;
            position: relative;
            border-bottom: 1px solid u.$color-secondary-100;
            padding-bottom: 1rem;
            padding-top: 1rem;

            .product_name {
                color: u.$color-secondary-900;
                font-size: 0.88rem;
                font-weight: 600;
                margin-bottom: 0.6rem;
            }

            .price-line {
                display: flex;
                flex-wrap: nowrap;

                &__quantity {
                    color: u.$color-primary;
                    font-size: 0.88rem;
                    font-weight: 600;
                    margin-right: 1rem;
                }

                &__price {
                    color: u.$color-secondary-500;
                    font-size: 0.88rem;
                    font-weight: 400;
                    margin-right: 0.5rem;
                }

                &__total {
                    color: u.$color-secondary-500;
                    font-size: 0.88rem;
                    font-weight: 600;
                }
            }

            .btn-remove-from-cart {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                border: 1px solid u.$color-secondary-400;
                border-radius: 50%;
                padding: 0px 4px;
                cursor: pointer;
                background-color: transparent;
            }
        }

        &__total {
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            .title {
                color: u.$color-secondary-900;
                font-size: 0.88rem;
                font-weight: 400;
                line-height: 1.19rem;
            }

            .total {
                color: u.$color-secondary-900;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 2rem;
            }
        }

        &__carbon-neutral {
            font-size: 0.88rem;
            font-weight: 400;
            line-height: 1.19rem;
            display: flex;
            justify-content: center;
            background-color: u.$color-secondary-50;
            padding: 1rem;
            border-radius: 0.5rem;
            margin-bottom: 1.5rem;

            img {
                margin-right: 7px;
            }

            b {
                font-weight: 600;
            }
        }

        &__btn-confirm-order {
            border-radius: 62.44rem;
            border: none;
            padding: 1rem 1.5rem 1rem 1.5rem;
            width: 100%;
            background-color: u.$color-primary;
            color: white;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.31rem;
        }

        &__empty-icon {
            margin: auto;
            margin-top: 2.5rem;
        }
    
        &__message {
            color: u.$color-secondary-500;
            font-size: 0.88rem;
            font-weight: 600;
            line-height: 1.19rem;
            text-align: center;
            margin-top: 0.7rem;
        }
    }
}

@include u.desktop-only {
    .cart {
        width: 24rem;
        height: min-content;
        margin-top: 0;
    }
}